<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Favorite Video Games from the 90s</h1>
        <ul class="games">
            <% for(let i=0; i < info.length; i++){%>
                <li class="game">
                    <span><%= info[i].gameName %></span>
                    <span><%= info[i].consoleName %></span>
                    <span><%= info[i].likes %></span>
                    <span class='fa fa-thumbs-up'></span>
                    <span class='fa fa-trash'></span>
                </li>
            <% } %>
        </ul>

        <h2>Add your favorite</h2>

        <form action="addGame" method="POST">
            <input type="text" placeholder="Game Name" name="gameName">
            <input type="text" placeholder="Console Name" name="consoleName">
            <input type="submit">
        </form>

        <script src="js/main.js"></script>
    </body>
</html>